extends ../layouts/application.pug

block content
    a.btn.btn-primary(href=route('statusCreate'))= t('views.statuses.create')
    table.table.table-striped
        thead
            tr
                th= t('views.statuses.id')
                th= t('views.statuses.name')
                th= t('views.statuses.createdAt')
        tbody
          each status in statuses
              tr
                  td= status.id
                  td= status.name
                  td= formatDate(status.createdAt)
                  td
                      div.d-flex.flex-wrap
                          a.btn.btn-primary.me-1(href=route('statusEdit', { id: status.id }))= t('action.edit')
                          +buttonTo(route('deleteStatus', { id: status.id }), 'delete')(class="btn btn-danger" value=t('action.delete'))
